//- This page uses the global layout
extends ../layout/global

//- Fill in title and description for SEO
block seo
  title=seo.resources.title
  meta(name='description', content=`${seo.resources.description}`)
    
//- Index page specific content only
block page
  //- include ../includes/home/feature
  
  .resource.feature__layer
    .feature__container
      h1.feature__heading Resources
      h2.feature__subheading Get involved. Learn more about museum careers!
  
  .resource__layer
    .resource__container
      .resource__content
        p Have you ever wanted to know how to get hired at a museum? What are the various kinds of museums? What’s the salary range for distinct kinds of positions within a museum? To identify the attributes, skills, and experience needed to succeed in today’s museums, explore the resources listed on this page. Download PDF materials. Contact and visit museums, locally or wherever you travel. Learn as much as you about any museum that’s of interest to you. Get involved. It’s on you to use resources here and via other sources to “get hired”. 
        
      h2.resource__heading Links
        
      div
        for item in resources
          .resource__item
            h2.resource__subheading=item.name
            .resource__links
              for link in item.links
                a(href=`${link.url}` class="resource__text-link")=link.text
                
      h2.resource__heading Downloads
      
      div
        div
          for item in downloads
            .resource__item
              h2.resource__subheading=item.name
              .resource__links
                for link in item.links
                  a(href=`${link.url}` class="resource__text-link")=link.text
